@import "./variable.scss";


body{
    color: $text-100;
    background-color: $bg-100;
    width: 100%;
    height: 100%;
}
.demo-logo-vertical{
    margin: 10px auto;
    border-radius: 5px;
    width: 90%;
    height: 10%;
    background-color:rgb(227, 209, 202);
    background-size: contain;
}