@import "./variable.scss";


.homeBreadcrumb {
    margin-top: 20px;
    margin-left: 16px;
    max-width: fit-content;
    padding: 0 10px;
    min-height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background-color:$bg-100 ;
}

.homeHeader {
    background-color: $primary-100;
    padding: 0;
}

.homeContent {
    background-color: $bg-100;
    padding: 0;
    margin: 24px 16px;
    padding: 24px;
    min-width: 80%;
    min-height: 280px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}
.homeLayout{
    background: $bg-300 !important;
    width: 100vw;
    height: 100vh;
}
.homeAvatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5%;
    background-color: $primary-200;
    background-size: contain;
}